# git ignore file
RRMS.v11.suo
RRMS.v11.suo
RRMS/obj/x86/Debug/RRMS.vbprojResolveAssemblyReference.cache
RRMS.v11.suo
RRMS/bin/Debug/RRMS.exe
RRMS/bin/Debug/RRMS.pdb
RRMS/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RRMS/obj/x86/Debug/RRMS.exe
RRMS/obj/x86/Debug/RRMS.pdb
RRMS/obj/x86/Debug/RRMS.vbproj.GenerateResource.Cache
